@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');
*{
    margin: 0;
    padding: 0;
}

.body{
    min-height: 100vh;
    font-family: 'Poppins';
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 20px;
}

.nav-wrapper{
    width: 100%;
    background:transparent;
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
    position:fixed;
    z-index: 999;
}

.class-btn {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

.links {
    display: flex;
    list-style: none;
    padding: 10px;
}

.links li {
    margin-right: 24px;
}

.links li a {
    text-decoration: none;
    color: rgb(105, 103, 105);
    letter-spacing: -0.5px;
}

.links li a:hover {
    color: rgb(231, 238, 243);
}

@keyframes fadeIn {
    to {
     background: rgba(218, 242, 255, 0);
    }
}


/* Mobile view */
 @media (max-width:675px) {
.icon,
.class-btn {
     display: block;
    }

.icon {
         position: absolute;
         right: 24px;
     }
     
.links {
         position: absolute;
         top: 0;
         height: 100%;
         width: 90%;
         right: -90%;
         background: #fff;
         flex-direction: column;
         justify-content: center;
         text-align: center;
         z-index: 2;
         transition: 0.3s ease-in-out;
     }

.links li {
         margin-right: 0;
         margin-bottom: 50px;
         font-size: 1.5em;
     }
     
.close-btn {
         position:absolute;
         top: 24px;
         right: -90vh;
         position: #6e7283;
         font-size: 2em;
         z-index: 3;
         transition: 0.3s ease-in-out;
     }

.close-btn:hover {
         color: rgb(77, 97, 100);
         cursor: pointer;
     }

/*open class*/
.open .links {
         right: 0;
     }

.open .close-btn {
         right: 32px;
     }

.open .backdrop {
         display: block;
     }
}


/*      contents      */
.container{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -1550px;
}

.article{
    background-color: white;
    padding-top: 800px;
    padding-left: 40px;
    padding-right:40px;
    text-align: center;
    

}

/*-------------------gallery stuff----------------------*/
.gallery{
  box-sizing: border-box;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}
.row{
    margin: 8-16px;
}


.row,
.row > .column{
    padding: 8px;
}

/*the four columns*/
.column {
    float: left;
    width: 25%;
}

/*clear floats afte rows*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*content*/
.content {
    background-color: white;
    padding: 10px;
}

/*reponsiveness*/
@media screen and (max-width:900px) {
    .column{
        width: 50%;
    }
}

@media screen and (max-width:600px) {
    .column{
        width: 100%;
    }
}

/*         footer stuff            */
.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.copyright {
    color: #C7C7C7;
    padding: 20px;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #C7C7C7;
    padding-left: 20px;
    padding-top: 20px;
}
.information{
    padding:20px;
    display: flex;

}
